<% layout('layouts/boilerplate')%>
<h1 class="text-center my-4">Registracija</h1>
<form class=" text-dark w-75 mx-auto form-control py-3 needs-validation" action="/auth/register" method="POST" novalidate>
    <div class="mb-2">
        <label for="naziv">Ime:</label>
        <input class="form-control" type="text" name="ime" id="ime" required>           
    </div>
    <div class="mb-3">
        <label for="naziv">Prezime:</label>
        <input class="form-control" type="text" name="prezime" id="prezime" required>   
    </div>
    <div class="mb-3">
        <label for="naziv">Email:</label>
        <input class="form-control" type="email" name="email" id="email" required>   
    </div>
    <div class="mb-3">
        <label for="naziv">Dob:</label>
        <input class="form-control" type="text" name="dob" id="dob" required>   
    </div>
    <div class="mb-3">
        <label for="naziv">Status:</label>
        <input class="form-control" type="text" name="status" id="status" required>   
    </div>
    <div class="mb-3">
        <label for="naziv">KorisniÄko ime:</label>
        <input class="form-control" type="text" name="username" id="username" required>   
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Lozinka: </label>
        <input class="form-control" type="password" id="password" name="password" required>
        
    </div>
    
    <div>
        <button class="btn btn-success me-2">Dodaj studenta</button>
        
    </div>
</form>