<% layout('/layouts/boilerplate') %>
    <h1 class="my-3">eStudent - studenti</h1>
    <div class="my-4">
        <a class="btn bg-primary text-white" href="/auth/register">Novi Student</a>
    </div>
    <div class="kolegiji d-flex flex-column pt-4">
    <% for(let student of studenti){ %>
        <% if (student.username!=="admin") { %>
            <div class="form-control mb-2"><a class="nav-link text-start text-decoration-none text-black " href="/admin/studenti/<%= student._id  %>"><%= student.ime %> <%= student.prezime  %></a></div>
        <% } %>

    <% } %>
    </div>